.seccion-imagenes__principal, .seccion-imagenes__segunda, .seccion-imagenes__tercera, .seccion-imagenes__banner {
  height: 80dvh;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*   BARRA DE NAVEGACION  */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 7rem;
  padding: 1rem 2rem;
}
header img {
  width: 4rem;
  height: auto;
}
header .header__ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: clamp(1rem, 2vw, 3rem);
  flex-wrap: wrap;
  list-style: none;
}
header .header__link {
  font-family: "Oswald", sans-serif;
  font-size: clamp(0.9rem, 2vw, 1.8rem);
  font-weight: 650;
  text-align: left;
  letter-spacing: 0.4em;
  display: block;
  padding: clamp(0.7rem, 3vh, 2.3rem) clamp(0.2rem, 1vw, 2rem);
  text-decoration: none;
}

/*   BARRA DE NAVEGACION  */
.seccion-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  margin: 2rem;
}
@media (max-width: 1400px) {
  .seccion-imagenes {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }
}
.seccion-imagenes__principal {
  width: calc(60% - 1.2rem);
}
@media (max-width: 1400px) {
  .seccion-imagenes__principal {
    width: 100%;
  }
}
.seccion-imagenes__segunda {
  width: calc(25% - 0.9rem);
}
@media (max-width: 1400px) {
  .seccion-imagenes__segunda {
    display: none;
  }
}
.seccion-imagenes__tercera {
  width: calc(15% - 0.9rem);
}
@media (max-width: 1400px) {
  .seccion-imagenes__tercera {
    display: none;
  }
}
.seccion-imagenes__banner {
  display: none;
}
@media (max-width: 1400px) {
  .seccion-imagenes__banner {
    display: block;
    width: 100%;
    height: 6rem;
  }
}

/*   PROXIMOS EVENTOS */
.eventos h2 {
  font-family: "Oswald", sans-serif;
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: 650;
  text-align: center;
  letter-spacing: normal;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 3.5rem;
}
.eventos__tarjeta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin: 1.5rem;
}
@media (max-width: 1400px) {
  .eventos__tarjeta {
    flex-direction: column-reverse;
  }
}
.eventos img {
  width: 40%;
}
@media (max-width: 1400px) {
  .eventos img {
    width: 90%;
    height: 90vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.eventos__texto {
  width: 40%;
  padding: 1rem;
}
@media (max-width: 1400px) {
  .eventos__texto {
    width: 100%;
  }
}
.eventos__texto h3 {
  font-family: "Oswald", sans-serif;
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: 650;
  text-align: center;
  letter-spacing: normal;
  margin-bottom: 5rem;
}
.eventos__texto p {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.6rem, 3.5vw, 4.5rem);
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
}
@media (max-width: 1400px) {
  .eventos__texto p {
    display: none;
  }
}

/*   MERCH */
.merch h2 {
  font-family: "Oswald", sans-serif;
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: 650;
  text-align: center;
  letter-spacing: normal;
  width: 100%;
  margin-top: clamp(2rem, 9vw, 17rem);
  margin-bottom: 5rem;
}
.merch__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: clamp(0.4rem, 5vw, 3rem);
  padding: 20px;
  margin: 5rem;
}
@media (max-width: 1100px) {
  .merch__grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 641px) {
  .merch__grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0rem;
  }
}
.merch__tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}
.merch__tarjeta img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.merch__tarjeta h3 {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
}
.merch__tarjeta p {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
}
.merch__button {
  font-family: "Oswald", sans-serif;
  font-size: clamp(0.7rem, 2vw, 2rem);
  font-weight: 650;
  text-align: center;
  letter-spacing: 0.1rem;
  width: 70%;
  height: clamp(2.5rem, 2.5vw, 4.5rem);
  color: #eee;
  background-color: black;
  border-radius: 30px;
  cursor: pointer;
}

.contactanos-titulo {
  font-family: "Oswald", sans-serif;
  font-size: clamp(2rem, 6vw, 6rem);
  font-weight: 650;
  text-align: center;
  letter-spacing: normal;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: clap(0rem, 2vw, 3rem);
}

.contactanos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: clamp(30px, 20vw, 60px);
}
.contactanos__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 40%;
  margin: clamp(20px, 10vw, 70px);
}
@media (max-width: 1000px) {
  .contactanos__form {
    width: 100%;
    margin-right: clamp(20px, 8vw, 80px);
  }
}
.contactanos__img {
  width: 60%;
}
@media (max-width: 1000px) {
  .contactanos__img {
    display: none;
  }
}
.contactanos__img img {
  width: 100%;
}
.contactanos__input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  margin-bottom: 40px;
  gap: 5px;
}
.contactanos__input label {
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 4vw, 4rem);
  font-weight: 650;
  text-align: left;
  letter-spacing: 0;
}
.contactanos__input input {
  width: 100%;
  border: 1.5px solid #d1d5db;
  padding: 10px 20px;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  text-align: left;
  letter-spacing: 0;
  border-radius: 10px;
}
.contactanos__input-txt {
  font-family: "Oswald", sans-serif;
  font-size: clamp(0.3rem, 1.5vw, 1rem);
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
}
@media (max-width: 1000px) {
  .contactanos__input-txt {
    font-size: 1rem;
  }
}
.contactanos__btn {
  margin-top: 10px;
  background: rgb(14, 154, 235);
  border: none;
  padding: 20px 30px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  text-align: left;
  letter-spacing: 0;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */